@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #FAF0E6;
	--dark-color-b: #FAEBD7;
	--light-color: #fff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--latte-color: #DDBC95;
	--slate-color : #626D71;
	--ceramic-color : #CDCDC0;
	--coffee-color : #B38867;
}

::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px; */
    background-color: transparent !important;
}

::-webkit-scrollbar
{
    /* width: 17px; */
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A9A9A9;
    background-color: #A9A9A9;
    border-left: 3px solid transparent !important;
    border-right:  3px solid transparent !important;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D3D3D3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);  
	animation: gradient 15s ease infinite;
	background-image : url("../assets/space-background.jpg");*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	background: black;
	overflow: hidden;
	width: 100vw !important;
	height: 100vh !important;
	position: relative;
}

canvas {
	background: url('../assets/d1aehdnbq0h21.jpg');
    background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#list-background-url {
	display: none;
	position: fixed;
	background: white;
	border-radius: .5rem;
	padding: 10px;
	max-width: 440px;
	max-height: 880px;
	top: 5px;
	left: 70px;
	vertical-align: middle;
	z-index: 1000;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.5);
	transition: all .5s ease-in-out;
}

#list-background-url > * {
	padding: 5px;
	transition-duration: .5s;
	position: relative;
}


#list-background-url > * > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-weight: 650;
	display: none;
}

#list-background-url > *:hover > div {
	display: block;
}

#list-background-url > *:hover > img.background-option {
	opacity: 0.7;
}


@keyframes fadeToRight {
	from {
		left: 20px;
		opacity: 0;
	}
	to {
		left : 70px;
		opacity: 1;
	}
}

#background-url:hover > #list-background-url {
	display: flex;
	animation: fadeToRight .5s ease-in-out;
}



#background-url:hover {
	background: white;
	color: black;
}


#background-url, .muted {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
	background: transparent;
	border: 1px solid white;
	padding: 10px;
	border-radius: .5rem;
	transition-duration: .5s;
	color: white;
	width: 60px;
	text-align: center;
}

#background-url > i, .muted > i {
	font-weight: 600;
	font-size: 30px;
	transition-duration: .5s;
}

.muted {
	top: 90px;
}

.btn {
	color: var(--slate-color);
	border: none !important;
	padding: 10px 20px;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: .5s;
}

.btn:hover {
	color: white;
	background: transparent;
}

/* Chat Page */

.chat-container {
	background: transparent;
	/* margin: 50px auto; */
	overflow: hidden;
	border-radius: 10px;
	/* margin: 70px 250px; */
	position: absolute;
	left: 20vw;
	top : 10vh;
	width: 60vw;
}

.chat-header {
	background: #282828;
	color: white;
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	width: inherit;
	min-height: 70px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 80%;
	width: 100%;
}

#emoji-content {
	background-color: white;
	grid-gap: 5px;
	grid-template-columns: repeat(5, 30px);
	grid-auto-rows: 30px;
	grid-auto-flow: row;
	position: absolute;
	left : 2%;
	bottom: 12%;
	display: none;
	width: max-content;
	padding: 10px;
	border-radius: 5px;
	animation-name: fadeUp;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	border: 4px solid var(--slate-color);
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 165px;
	cursor: pointer;
}

#emoji-content span {
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
}

#emoji-content span:hover {
	background-color: var(--slate-color);
}

@keyframes fadeUp {
	from {
		top: 450px;
		opacity: 0;
	}
	to {
		top : 480px;
		opacity: 1;
	}
}

.right {
	justify-content: flex-end;
}

.toggle-sidebar {
	display: none;
	position: fixed;
	top: 100px;
	left: 0px;
	border-radius: 0 1.5rem 1.5rem 0;
	padding: 1rem 1rem 1rem .5rem;
	/* border: 2px solid black; */
	border-left: 0;
	background-color: #282828;
	color: white;
	transition : all .3s;
	cursor: pointer;
	z-index: 2000;
}

.toggle-sidebar:hover {
	background-color: white;
	color: #282828;
}

.chat-sidebar {
	background: white;
	color: var(--slate-color);
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 0 25px;
	height: 430px;
	overflow-y: auto;
	background: transparent;
	position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.line-message {
	display: flex;
	width: 100%;
	margin: 20px 0;
	height: max-content;
}

.chat-messages .message {
	padding: 20px 10px;
	margin: 0;
	background-color: white;
	border-radius: 5px;
	animation-name: fadeUp;
	animation-duration: .3s;
	animation-delay: 0s;
	color: #282828;
	border: 3px solid white;
	height: max-content;
	max-width: 500px;
	object-fit: contain;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #282828;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #282828;
}

.chat-form-container {
	padding: 15px;
	background-color: #282828;
	width: inherit;
	height: 10%;
	min-height: 70px;
}

.chat-form-container form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 15px !important;
	height: 40px;
	flex: 1;
	outline-width: 0;
	border: none;
	border-radius: 20px;
	margin: 0 5px;
}

.chat-form-container .btn-sent {
	border: none !important;
	padding: 10px 15px;
	background: white;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: .2s;
	color: var(--slate-color);
}


.chat-form-container .btn-sent i {
	transform: translateX(-1px);
}

.chat-form-container .btn-sent:hover {
	background: transparent;
	color: white;
}

.show {
	margin-left: 0 !important;
}

.notify{  
	position:sticky;
	top: 0;
	height: 0;
	color:white;  
	text-align:center;
	background-color:rgba(0,0,0,.6);
	overflow:hidden;
	transition: all .3s;
	margin-right: -25px;
	margin-left: -25px;
}

.notify::before {
	content: 'Copied to the Clipboard';
}

.active{  
	height:max-content;
	padding: 10px 0;
}

/* Join Page */
.join-container {
	position: absolute;
	left: 35vw;
	top : 30vh;
	width: 30vw;
	max-width: 500px;
	/* margin: 100px auto; */
	color: white;
	border: 1px solid #dde1e7;
	border-radius: .5rem;
	background: transparent;
	backdrop-filter: blur(.1px);
	box-shadow: -5px -5px 15px rgba(255,255,255,0.45), 5px 5px 15px rgba(255,255,255,0.45); 
}

.join-header {
	text-align: center;
	background: transparent;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.join-header > h1 {
	text-shadow: 2px 2px 8px white;
	text-transform: uppercase;
}

.join-header > i {
	font-size: 1.5rem;
}

.join-header > * {
	margin: 10px 5px;
	padding: 10px 0;
}

.join-main {
	padding: 30px 40px;
	padding-top: 0;
	background: transparent;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main .form-control {
	position: relative;
}

.join-main input[type='text'] {
	padding: 15px;
	/* height: 40px; */
	width: 100%;
	font-size: 16px;
	border: 1px solid #ccc;
	transition: 0.4s;
	box-sizing: border-box;
	width: 100%;
}

.join-main input[type='text']:focus {
	outline: none;
}

.join-main input[type='text'] ~ .focus-border:before,
.join-main input[type='text'] ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 3px; box-shadow: 0px 0px 15px 5px  white; background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); transition: 0.2s; transition-delay: 0.2s;}
.join-main input[type='text'] ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.join-main input[type='text'] ~ .focus-border i:before,
.join-main input[type='text'] ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 3px; height: 0; box-shadow: 0px 0px 15px 5px  white; background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); transition: 0.2s;}
.join-main input[type='text'] ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.join-main input[type='text']:focus ~ .focus-border:before,
.join-main input[type='text']:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.join-main input[type='text']:focus ~ .focus-border:after{transition-delay: 0.2s;}
.join-main input[type='text']:focus ~ .focus-border i:before,
.join-main input[type='text']:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.join-main input[type='text']:focus ~ .focus-border i:after{transition-delay: 0.4s;}

.join-main select {
	color: var(--slate-color);
	font-size: 16px;
	padding: 0 15px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	outline-width: 0;
	border: none;
	border-radius: 20px;
	appearance: none;
}

.join-main select::after {
	margin-right: 10px;
}

.join-main .btn {
	margin-top: 20px;
	width: 45%;
}

@keyframes fadeUp {
	from {
		opacity: 0.5;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: unset;
	}
}

@media (max-width: 980px) {
	body {
		background-attachment: fixed;
		height: calc(var(--vh, 1vh) * 100);
	}

	.chat-container {
		position: fixed;
		top : 0;
		display: grid;
		grid-template-areas: 'header' 'main' 'footer';
		grid-template-rows: 10% 80% 10%;
		gap: 2px;
		left: unset;
		width: 100vw;
		height: 100%;
		border-radius: 0;
	}
	.chat-header {
		grid-area: header;
		height: unset;
	}

	.chat-main {
		grid-area: main;
		margin: unset;
		border-radius: unset;
		display: unset;
		grid-template-columns: unset;
		width: 100%;
		height: unset;
		position: relative;
	}

	.chat-sidebar {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		margin-left: calc(30% - 100vw);
		transition: all .3s;
		z-index: 1000;
	}

	.chat-messages {
		width: 100%;
		height: 100%;
	}

	.toggle-sidebar {
		display: block !important;
	}

	.chat-form-container {
		grid-area: footer;
		height: unset;
	}
	
	#emoji-content {
		left: 5px;
		top: unset;
		bottom: 10vh;
		z-index: 2000;
	}

	.join-container {
		width: 80vw;
		left: 10vw;
	}
}

/* @media (max-width: 700px) {
	.chat-sidebar {
		height: calc(100vh - 140px);
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		margin-left: calc(50% - 100vw);
		transition: all .3s;
	}

	.join-container {
		max-width: 80vw;
		margin: 220px auto;
	}

	.join-main {
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn, .join-main input[type='text'] {
		font-size: 12px;
	}
} */