@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #FAF0E6;
	--dark-color-b: #FAEBD7;
	--light-color: #fff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--latte-color: #DDBC95;
	--slate-color : #626D71;
	--ceramic-color : #CDCDC0;
	--coffee-color : #B38867;
}

::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px; */
    background-color: transparent !important;
}

::-webkit-scrollbar
{
    /* width: 17px; */
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A9A9A9;
    background-color: #A9A9A9;
    border-left: 3px solid transparent !important;
    border-right:  3px solid transparent !important;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D3D3D3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* margin: 20px; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	color: var(--slate-color);
	border: none !important;
	padding: 10px 20px;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.btn:hover {
	color: white;
	background: transparent;
}

/* Chat Page */

.chat-container {
	background: var(--slate-color);
	/* margin: 50px auto; */
	overflow: hidden;
	/* border-radius: 5px; */
	height: 100vh;
	width: 100vw;
}

.chat-header {
	background: #282828;
	color: white;
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	width: inherit;
	min-height: 70px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 4.5fr;
	height: 80%;
	width: 100%;
}

#emoji-content {
	background-color: white;
	grid-gap: 5px;
	grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px;
	grid-auto-rows: 35px;
	grid-auto-flow: row;
	position: absolute;
	left : 23px;
	top: 480px;
	display: none;
	width: 350px;
	padding: 10px;
	border-radius: 5px;
	animation-name: fadeUp;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	border: 4px solid var(--slate-color);
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 165px;
	cursor: pointer;
}

#emoji-content span {
	font-size: 23px;
	text-align: center;
	border-radius: 5px;
}

#emoji-content span:hover {
	background-color: var(--slate-color);
}

@keyframes fadeUp {
	from {
		top: 450px;
		opacity: 0;
	}
	to {
		top : 480px;
		opacity: 1;
	}
}

.right {
	justify-content: flex-end;
}

.toggle-sidebar {
	display: none;
	position: fixed;
	top: 100px;
	left: 0px;
	border-radius: 0 1.5rem 1.5rem 0;
	padding: 1rem 1rem 1rem .5rem;
	/* border: 2px solid black; */
	border-left: 0;
	background-color: #282828;
	color: white;
	transition : all .3s;
	cursor: pointer;
}

.toggle-sidebar:hover {
	background-color: white;
	color: #282828;
}

.chat-sidebar {
	background: white;
	color: var(--slate-color);
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 25px;
	height: 100%;
	overflow-y: scroll;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.line-message {
	display: flex;
	width: 100%;
	margin: 20px 0;
	height: max-content;
}

.chat-messages .message {
	padding: 20px 10px;
	margin: 0;
	background-color: white;
	border-radius: 5px;
	animation-name: fadeUp;
	animation-duration: .3s;
	animation-delay: 0s;
	color: #282828;
	border: 3px solid white;
	height: max-content;
	max-width: 500px;
	object-fit: contain;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #282828;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #282828;
}

.chat-form-container {
	padding: 15px;
	background-color: #282828;
	width: inherit;
	height: 10%;
	min-height: 70px;
}

.chat-form-container form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 15px !important;
	height: 40px;
	flex: 1;
	outline-width: 0;
	border: none;
	border-radius: 20px;
	margin: 0 5px;
}

.chat-form-container .btn-sent {
	border: none !important;
	padding: 10px 15px;
	background: white;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: .2s;
	color: var(--slate-color);
}


.chat-form-container .btn-sent i {
	transform: translateX(-1px);
}

.chat-form-container .btn-sent:hover {
	background: transparent;
	color: white;
}

.show {
	margin-left: 0 !important;
}


/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #484848;
	border: 3px solid black;
	border-radius: .5rem;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	padding: 15px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	outline-width: 0;
	border: none;
	border-radius: 20px;
}

.join-main select {
	color: var(--slate-color);
	font-size: 16px;
	padding: 0 15px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	outline-width: 0;
	border: none;
	border-radius: 20px;
	appearance: none;
}

.join-main select::after {
	margin-right: 10px;
}

.join-main .btn {
	margin-top: 20px;
	width: 45%;
}

@keyframes fadeUp {
	from {
		opacity: 0.5;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: unset;
	}
}

@media (max-width: 980px) {
	.chat-header {
		width: 100vw;
		position: fixed;
		top: 0;
		height: 85px;
	}

	.chat-container {
		position: fixed;
		top: 85px;
		height: calc(100vh - 140px);
		width: 100vw;
	}

	.chat-main {
		display: block;
		height: 100%;
		position: relative;
	}

	.chat-sidebar {
		height: calc(100vh - 70px);
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		margin-left: calc(30% - 100vw);
		transition: all .3s;
	}

	.toggle-sidebar {
		display: block !important;
	}

	.chat-form-container {
		position: fixed;
		bottom: 0;
	}
	
}

@media (max-width: 700px) {
	.chat-sidebar {
		height: calc(100vh - 140px);
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		margin-left: calc(50% - 100vw);
		transition: all .3s;
	}
}